div#markerlist select {
 width: auto;
 border-radius: 0px;
}

div#markerlist > div > span:nth-of-type(2) > div {
 position: absolute;
 width: 80px;
 background-color: #3a97b9;
 z-index: 1;
 right: 80px;
 top: 0px;
 border: 1px solid white;
 border-radius: 10px;
 padding: 2px;
}

div#markerlist > div > span:nth-of-type(2) > div > span {
 height: 30px;
 width: 100%;
 display: block;
 background-size: 80%;
 background-position: center center;
 background-repeat: no-repeat;
 background-color: white;
 margin-bottom: 3px;
 transition: transform 0.2s linear;
 cursor: pointer;
 border-radius: 5px;
}

div#markerlist > div > span:nth-of-type(2) > div > span:last-of-type {
 margin-bottom: 0px;
}

div#markerlist > div > span:nth-of-type(2) > div > span.selected {
 border-left: 5px solid #213864;
}

div#markerlist > div > span:nth-of-type(2) > div > span:hover {
 transform: scale(1.2);
}

div#markerlist > div, div#markerstationlist > div {
 display: inline-block;
 position: relative;
 box-sizing: border-box;
 width: 100%;
 margin-bottom: 5px;
 color: white;
 border: none;
 background-color: #3a97b9;
 cursor: pointer;
 transition: border-top 0.2s linear;
}

div#markerlist > div {
 padding: 5px 80px 5px 40px;
}

div#markerstationlist > div {
 padding: 5px 40px 5px 40px;
}

div#markerlist > div > span {
 width: 80px;
}

div#markerlist > div > span:nth-of-type(2) {
 background-position:center center;
 background-repeat:no-repeat;
 background-size: 80%;
 background-color: #213864;
}

div#markerlist > div span.InitialLocation {
 background-image:url('../ui/initiallocation.png');
}

div#markerlist > div span.FinalLocation {
 background-image:url('../ui/finallocation.png');
}

div#markerlist > div span.WalkTarget {
 background-image:url('../ui/walktarget.png');
}

div#markerstationlist > div > span {
 width: 40px;
}

div#markerlist > div > span, div#markerstationlist > div > span {
 position: absolute;
 top: 0px;
 right: 0px;
 height: 100%;
 padding: 5px 0px 0px 0px;
 border-radius: 5px;
 background-color: #3a97b9;
 text-align: center;
 background-position:center center;
 background-size:contain;
}

div#markerlist > div > span.check,
div#markerstationlist > div > span.check {
 background-image:url('../ok-w.png');
 background-position: center center;
 background-repeat: no-repeat;
}

div#markerlist > div > span.dialog,
div#markerstationlist > div > span.dialog {
 display:inline-block;
 width: calc(100% - 84px);
 left:40px;
}

div#markerlist > div > span.dialog > span,
div#markerstationlist > div > span.dialog > span {
 display:inline-block;
 border-radius: 5px;
 box-sizing:border-box;
 margin-left: 5px;
 margin-right: 5px;
 width: calc(33% - 15px);
 transition: background-color 0.2s linear;
 cursor: pointer;
}

div#markerlist > div > span.dialog > span:hover,
div#markerstationlist > div > span.dialog > span:hover {
 background-color: #99bbce;
}

div#markerlist > div:not(.category) > span:first-of-type,
div#markerstationlist > div:not(.category) > span:first-of-type {
 left: 3px;
 width: 30px;
 height: calc(100% - 6px);
 top: 3px;
 color: white;
 background-color: #213864;
 padding-top: 3px;
 transition: background-color 0.4s linear, width 0.6s linear;
 cursor: pointer;
}

div#markerlist > div > span:not(.clicked):not(.dialog):not(.check):hover,
div#markerstationlist > div > span:first-of-type:not(.clicked):not(.dialog):hover {
 background-color: #99bbce;
}

div#markerlist > div:not(.category) > span.clicked, 
div#markerstationlist > div:not(.category) > span.clicked {
 width: 50%;
}

div#markerlist > div:not(.category) > span.clicked:first-of-type > span, 
div#markerstationlist > div:not(.category) > span.clicked:first-of-type > span {
 margin-left: 10px;
}

 div#markerlist > div:not(.category) > span:first-of-type > span,
 div#markerstationlist > div:not(.category) > span:first-of-type > span {
 margin-right: 10px;
 padding: 3px 10px;
 border-radius: 5px;
 transition: background-color 0.2s linear;
 position: absolute;
 top: 50%;
}

div#markerlist > div:not(.category) > span:first-of-type > span:nth-child(1),
div#markerstationlist > div:not(.category) > span:first-of-type > span:nth-child(1) {
  left: 0%;
  transform: translateY(-50%);
}

div#markerlist > div:not(.category) > span:first-of-type > span:nth-child(2),
div#markerstationlist > div:not(.category) > span:first-of-type > span:nth-child(2) {
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

div#markerlist > div:not(.category) > span:first-of-type > span:nth-child(3),
div#markerstationlist > div:not(.category) > span:first-of-type > span:nth-child(3) {
  right: 0%;
  transform: translateY(-50%);
}

div#markerlist > div:not(.category) > span:first-of-type > span:not(:first-child):hover,
div#markerstationlist > div:not(.category) > span:first-of-type > span:not(:first-child):hover {
 background-color: #99bbce;
}

div#markerlist > div:not(.category) > span:first-of-type,
div#markerstationlist > div:not(.category) > span:first-of-type {
 overflow: hidden;
}

div#markerlist > div.category, div#markerstationlist > div.category {
 padding-left: 10px;
 color: #213864;
 background-color: #e2e2e2;
 cursor: default;
}

div#markerlist > div.category > span:first-of-type:not(.dialog), div#markerstationlist > div.category > span:first-of-type:not(.dialog) {
 position: absolute;
 top: 0px; 
 right: 0px;
 width: 40px;
 height: 100%;
 padding: 5px 0px 0px 0px;
 border-radius: 5px;
 background-color: #213864;
 text-align: center;
 cursor: pointer;
 background-image:url("../fold-w.png");
 background-size:contain;
 background-position:center center;
 transition: background 0.2s linear;
}

div#markerlist > div.category > span:first-of-type:not(.dialog):hover,
div#markerstationlist > div.category > span:first-of-type:not(.dialog):hover {
 background-color: #99bbce;
}

div#markerlist > div.category > span:first-of-type.folded,
div#markerstationlist > div.category > span:first-of-type.folded {
 background-image:url("../expand-w.png");
}

div#markerlist > div, div#markerstationlist > div {
 transition: height 0.2s linear;
}

div#markerlist > div.hidden, div#markerstationlist > div.hidden {
 height: 0px;
 display: none;
}

span.button {margin-left:5px;}