table.users tr {
 position: relative;
}

table.users td:first-child > span.clicked {
 position: absolute;
 top: 0px;
 left: 5px;
 width: 50%;
 height: 100%;
 padding: 5px 0px 0px 10px;
 border-radius: 5px;
 background-color: #213864;
 background-size: contain;
 background-position: center center;
 background-repeat: no-repeat;
 text-align: left;
 color: white;
 border-radius: 10px;
}

table.users td:first-child > span.clicked > span {
 margin-left: 20px;
 padding-left: 20px;
 padding-right: 20px;
 border-radius: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 transition: background-color 0.2s linear;
 cursor: pointer;
}

table.users td:first-child > span.clicked > span:hover {
 background-color: #99bbce;
}

label {
	margin-left: 10px;
	cursor:pointer;
}

div.w3-container.actions > p > span[data-action="new"] {
 background-image: url('../ui/nproject.png');
}

div.w3-container.actions > p > span[data-action="clone"] {
 background-image: url('../ui/copy.png');
}

div.w3-container.actions > p > span[data-action="backup"] {
 background-image: url('../ui/backup.png');
}

div.w3-container.actions > p > span[data-action="restore"] {
 background-image: url('../ui/restore.png');
}

div.w3-container.actions > p > span[data-action="import"] {
 background-image: url('../ui/import.png');
}

div.w3-container.actions > p > span[data-action="export"] {
 background-image: url('../ui/export.png');
}

div.w3-container.actions > p > span[data-action="delete"] {
 background-image: url('../ui/delproject.png');
}

p#errorlist {
 color: red;
}

div.w3-container.actions > p > span {
 background-size: contain;
 background-position: left center;
 padding-left: 35px;
 background-repeat: no-repeat;
 height: 30px;
 display: block;
 line-height: 30px;
 cursor: pointer;
 transition: background-color 0.2s linear, border-radius 0.2s linear;
}

div.w3-container.actions > p > span:hover
{
 background-color: #213864;
 color: white;
 border-radius: 10px;
}

p#new_projecterror {
	color: red;
}

div.modalwindow > div:first-child {
	padding: 20px;
	font-size: 18px;
}

div.modalwindow {
	height:auto !important;
}

div.modalwindow > div > p > textarea {
	width:100%;
	clear:both;
}

input[type="text"] {width:100%}
 p#new_projecterror {color: red; display:none;}
 table.users {
	width:100%;	
	margin-bottom:20px;
 }
 table.users th {
    border: 1px solid #213864;
    background-color: #213864;
	color: white;
	padding: 2px;
 }
 table.users td {
    border: 1px solid #e2e2e2;
	background-color: #e2e2e2;
	padding: 5px;
	cursor: pointer;
 }
 table.users td > select {
    width: calc(100% - 85px);
 }
 table.users td > span {
	width: 40px;
	padding: 5px;
    margin-left: 2px;
 }
 table.users td:first-child {
    width: 55px;
 }
 table.users.results td:first-child {
   width: auto;	 
 }
 input.hidden {display: none; width: 0px !important;}
 input.searchbox {transition: width 1s linear; width: 50%; margin-right:5px;}
 
 table.results tr {
   cursor: pointer;
 }
 
 table.results tr td.error {
   color: red;
 }
 
 ul#projectactions li span {
	 color: #676464;
	 cursor: pointer;
	 transition: color 0.2s linear;
 }
 
 ul#projectactions li span:hover {
	 color: #99bbce;
 }
 
 ul#projectactions li span.chosen {
   color: #213864;
   font-size: larger;
   text-decoration: underline;
 }
 
 div#projectactionsparams label {
	 margin-left:10px;
	 cursor: pointer;
 }