
div.modalwindow > div > p {
 text-align:left;
}

div.modalwindow > div > p > span:first-of-type {
 display:inline-block;
 width:200px;
 margin-right:10px;
}

div.modalwindow > div > p > select {
 width: auto;
}

div.hidden {
 display: none;
 }

p.right {
 text-align: right;
}

hr.grey {
 height: 2px;
 background-color: lightgrey;
}

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
select {
 border-radius: 10px;
 padding-left: 10px;
 padding-right: 10px;
 width: 70%;
 background-color: #f1f1f1;
}

.menuitems a {
 text-decoration: none;
 color: #676464;
}

.iconback {
 color: #42b6d4;
}

.pointer {
 cursor: pointer;
}

p.warning {
 color: firebrick;
 font-weight: bold;
}

h5.w3-opacity.task.editmode {
 display: inline-block;
 width: calc(100% - 135px);
 cursor: default;
}

h5.w3-opacity.task 
{
 border: 2px solid transparent;
 padding: 5px;
 border-radius: 5px; 
 transition: background-color 0.2s linear;
 cursor: pointer;
}
h5.w3-opacity.task:not(.editmode):hover
{
 background-color: #99bbce;
}
h5.w3-opacity.task.selected
{
 border-color: #213864;
}

h5.w3-opacity.task.editmode > span.tagicon {
 cursor: pointer;
 transition: background-color 0.2s linear;
}

h5.w3-opacity.task.editmode > span.tagicon:hover {
 background-color: orange !important;
}

.banner {
 background-color: #213864;
 color: white;
}

div[data-type="taskitem"] p select {
 width: 30%;
 margin-right: 10px;
}

div[data-type="taskitem"] p span:not(.button) {
 margin-right: 10px;
}

span.button {
 cursor: pointer;
 padding:5px 15px 5px 15px;
 border-radius: 5px;
 background-color: #213864;
 transition: background-color 0.2s linear;
}

span.button:hover {
 background-color: #99bbce !important;
}

div.position {
 background-position:center center;
 background-size: contain;
 background-repeat: no-repeat;
 position:relative;
 width: 100%;
}

div.position > div {
 width: 20%;
 height: 20%;
 border: 1px solid black;
 position: absolute;
 transition: background-color 0.5s linear;
 background-color: transparent;
 cursor: pointer;
 text-align:center;
 box-sizing: border-box;
 padding: 5px;
}

p#importpartsmsg img, p#importtoolsmsg img{
 width: 30px;
 height: 30px;
}

div.position > div:hover {
 background-color: orange;
 opacity: 0.5; 
}

div.position > div:nth-of-type(1) {
 left: 9%;
 top: 57%; 
}

div.position > div:nth-of-type(2) {
 left: 57%;
 top: 69%; 
}

div.position > div:nth-of-type(3) {
 left: 0%;
 top: 34%; 
}

div.position > div:nth-of-type(4) {
 left: 27%;
 top: 34%; 
}

div.position > div:nth-of-type(5) {
 left: 0%;
 top: 64%; 
}

div.position > div:nth-of-type(6) {
 left: 27%;
 top: 64%; 
}

div.position > div:nth-of-type(7) {
 left: 55%;
 top: 34%; 
}

div.position > div:nth-of-type(8) {
 left: 80%;
 top: 34%; 
}

div.position > div:nth-of-type(9) {
 left: 55%;
 top: 64%; 
}

div.position > div:nth-of-type(10) {
 left: 80%;
 top: 64%; 
}

div.position > div.selected {
 border-color: orange;
 border-width: 2px;
 background-color: yellow;
 opacity: 0.8;
}

h6.time {
 display: block;
 float: right;
 margin-top: 15px;
 margin-right: 10px;
 width: 124px;
 text-align: right;
}

h6.time > input {
 width: 80px;
}

div.logout {
 position: absolute;
 left: 5px;
 top:  5px; 
 width: 30px;
 height: 30px;
 background-position: center center;
 background-repeat: no-repeat;
 background-image: url('../logout.png');
 background-size: contain;
 cursor: pointer;
}

div.version {
 position: absolute;
 right: 5px;
 top:  5px;
}
